---
layout: default
main_title: ソフトウェア開発実績
sub_title:
---

	<p>弊社は主にフリーソフトウェア分野における全般的なソフトウェア開発やサポートを得意としています。要素技術となる様々なフリーソフトウェアプロダクトへの開発参加経験を生かし、他社には真似のできない高度なソフトウェア開発・フリーソフトウェアカスタマイズ事業を展開しています。</p>

	<ul>
		<li><a href="#ruby">Rubyアプリケーションの開発</a></li>
		<li><a href="#test">ソフトウェア自動テストフレームワークの開発</a></li>
		<li><a href="#thin-client">シンクライアントシステムの開発</a></li>
		<li><a href="#desktop">デスクトップ環境のカスタマイズ・障害対応</a></li>
		<li><a href="#gui">マルチプラットフォームGUIアプリケーションの開発</a></li>
		<li><a href="#platform">プラットフォーム開発支援</a></li>
		<li><a href="#ie">Internet Explorer用アドオンソフトウェアの開発</a></li>
		<li><a href="#etc">その他のソフトウェア開発</a></li>
	</ul>


	<h2 id="ruby">Rubyアプリケーションの開発</h2>

	<p>RubyはRuby on Railsによって広く世に知れ渡るようになりましたが、Webアプリケーション用途だけではなく、低レベルなネットワークアプリケーションからGUIアプリケーションに至るまで、あらゆる分野において高い開発効率を誇る言語です。</p>
	<p>弊社には長年に渡ってRuby開発コミュニティに貢献してきたエンジニアが在籍しており、Rubyでの開発に関しては分野を問わず高いクオリティのサービスを提供可能です。Rubyそのものに精通しているため、Ruby on Railsのようなフレームワークそのものや使用しているライブラリに問題があった場合でも、それらの問題を解決しつつ開発を続けることが可能です。</p>

	<h3>開発事例</h3>
	<ul>
		<li>高い柔軟性をもつ迷惑メール対策ソフトウェアの開発(<a href="../../software/milter-manager.html">milter manager</a>)</li>
		<li>Ruby on Railsによる動画共有サイトの構築</li>
		<li>Samba用LDAPエントリ管理ツール(<a href="http://asl.rubyforge.org/">ActiveSambaLdap</a>)</li>
		<li>Rubyによる特定ソフトウェア向け自動テストツールの開発</li>
		<li>様々なC言語ライブラリのRubyバインディング(Ruby-GNOME2など)</li>
		<li>プレゼンテーションソフトウェアの開発(Rabbit)</li>
	</ul>

	<h2 id="test">ソフトウェア自動テストフレームワークの開発</h2>
	<p>Subversionなどのバージョン管理システムや、Bugzillaなどのバグトラッキングシステムなどとも連動した高度なソフトウェア開発環境の構築が可能なソフトウェア自動テストフレームワークを開発しました。</p>
	<p>本システムを支える要素技術としてC言語用のテスティングフレームワーク<a href="../../software/cutter.html">Cutter</a>やPython用のテスティングフレームワーク<a href="http://pikzie.sourceforge.net/index.html.ja">Pikzie</a>も同時に開発し、フリーソフトウェアとして一般に公開しています。</p>


	<h2 id="thin-client">シンクライアントシステムの開発</h2>

	<p>昨今の企業におけるセキュリティ意識の向上に伴い、数々のシンクライアントソリューションが提案されています。中でもGNU/Linuxをベースとしたシンクライアントシステムは、その高い柔軟性とコストパフォーマンスから注目を集めており、市場に参入するベンダーが相次いでいます。しかし、実際にはGNU/Linuxシステムを熟知した技術者の不足から、思うようなカスタマイズができないといったミスマッチングも生じています。</p>
	<p>弊社では、GNU/Linuxシステムに対するシステム層およびアプリケーション層の両面に渡る高度な知識を生かし、多くのGNU/Linuxベースシンクライアントシステムの開発に携わっています。</p>

	<h3>開発事例</h3>
	<ul>
		<li>カスタムCDブートGNU/Linux構築ツールの開発</li>
		<li>デスクトップのシンプル化</li>
		<li>PAMモジュールの開発</li>
		<li>日本語環境におけるrdesktopの不具合改善</li>
		<li>起動の高速化</li>
	</ul>



	<h2 id="desktop">デスクトップ環境のカスタマイズ・障害対応</h2>

	<p>IPAのOSSデスクトップ導入実証事業や、Ubuntu Linuxの台頭などに見られるように、デスクトップ分野においてもフリーソフトウェアに対する社会的な注目が集まりつつあります。しかしながら、Microsoft Windowsとの互換性欠如などの様々な技術的問題が、導入の障壁となっております。</p>

	<p>弊社ではこれまでに、自治体へのOSSデスクトップ導入に際し事前に挙げられているこれらの障害に対し、ソースコードレベルで対処を行うサービスを提供して参りました。開発人員のほとんどが日常的にGNU/Linuxデスクトップを使用するとともに、不具合の修正や開発元に対するフィードバックも行っているため，ユーザビリティーにも配慮したきめの細かいカスタマイズを得意としております。</p>

	<h3>カスタマイズ・障害対応事例</h3>
	<ul>
		<li>OpenOffice.orgにおける日本語関連の特殊処理の改善</li>
		<li>デバイスドライバの開発(ノートPC用ACPIドライバなど)</li>
		<li>メールソフトウェアEvolutionにおける種々の不具合の改善</li>
		<li>PDFレンダリングライブラリ(poppler)やドキュメントビューア(Evince)での日本語表示改善</li>
		<li>Flashプレーヤ(Gnash)の音声出力改善</li>
		<li>GUIツールキットGTK+の国際化サポート改善</li>
		<li>GUIツールキットQtの国際化サポート改善</li>
		<li>Mozilla Firefoxにおける日本語入力不具合の改善</li>
		<li>商用日本語入力ソフトウェア導入時の不具合改善</li>
		<li>印刷用ライブラリ(PAPI)に対する種々の改善</li>
		<li>zipコマンドのShift JIS対応</li>
	</ul>



	<h2 id="gui">マルチプラットフォームGUIアプリケーションの開発</h2>

	<p>弊社の開発陣は過去にGUIツールキットGTK+を用いたアプリケーションを数多く手掛けており、GUIアプリケーションの開発能力については強い自信と誇りを持っております。また、GTK+アプリケーションの開発で培ったノウハウを応用し、Windowsネイティブアプリケーションや、マルチプラットフォーム対応アプリケーション、組み込み機器向けアプリケーションなど、幅広いプラットフォームを対象としたアプリケーションの開発を承っております。</p>

	<h3>開発事例</h3>
	<ul>
		<li>GeckoやWebKitベースのWebブラウザの開発(風博士)</li>
		<li>画像/動画ビューアの開発(GImageView)</li>
		<li>日本語入力ソフトウェアの開発(scim-anthy)</li>
		<li>手書き文字認識アプリケーションの開発(Tomoe)</li>
		<li>外字登録・検索・入力アプリケーションの開発</li>
	</ul>


	<h2 id="platform">プラットフォーム開発支援</h2>
	<p>エンタープライズ用途におけるGNU/Linuxシステムの浸透に伴って、GNU/Linuxプラットフォームにも商用UNIX並の高可用性が求められる時代となっております。</p>
	<p>弊社はこれまでに、プラットフォームの要素技術開発支援や、信頼性向上のためのテスト自動化支援などのサービスを提供して参りました。</li>

	<h3>開発事例</h3>
	<ul>
		<li>ブートローダーの開発(GRUBへのウォッチドッグ制御機能の追加など)</li>
		<li>ネットワークプロトコルスタックの自動テストツール開発</li>
		<li>ハードウェア監視用ミドルウェアの自動テストツール開発</li>
		<li>データベースソフトウェアの性能評価試験</lo>
	</ul>



	<h2 id="ie">Internet Explorer用アドオンソフトウェアの開発</h2>

	<p>弊社は<a href="http://www.mozilla-japan.org/">Mozilla Japan</a>様のパートナー企業として、<a href="../mozilla/menu.html">Mozilla Firefoxのサポート</a>に重点を置いた事業展開をしております。一方で、「より多くのお客様に製品をお届けするために、Internet ExplorerとMozilla Firefoxの双方で同じように動作する拡張機能を開発して欲しい」といったご要望も数多く寄せられております。このようなご要望にお応えするため、IE用ツールバーやActiveXコントロールなどの開発についてもご依頼を承っており、その開発ノウハウを蓄積しております。</p>



	<h2 id="etc">その他のソフトウェア開発</h2>

	<p>以上の分野に限らず、弊社ではあらゆる分野のソフトウェアについて開発を承っております。</p>

	<p>対応可能言語</p>
	<ul>
		<li>C/C++</li>
		<li>Ruby</li>
		<li>Python</li>
		<li>HTML/CSS</li>
		<li>JavaScript</li>
	</ul>

	<p>対応可能OS</p>
	<ul>
		<li>GNU/Linux全般 (Ubuntu、Red Hat、SUSE、Debian等)</li>
		<li>その他のUNIX系OS全般</li>
		<li>Microsoft Windows</li>
	</ul>
	<p>その他の言語やOSについてもご相談に応じて柔軟に対応しておりますが、原則としてJavaやPHPでの開発については承っておりません。</p>
