---
layout: default
main_title: Cutter
sub_title: C言語・C++言語用テスティングフレームワーク
---

<p>
<img src="cutter-accelerate-development-cycle.png" alt="開発サイクルを加速するテスティングフレームワーク" title="Cutter" class="photo">
Cutterは書きやすさ・デバッグのしやすさを重視したC言語・C++言語用のテスティングフレームワークです。メンテナンスしやすく、利用効果の高いユニットテスト（単体テスト）の開発を支援します。
</p>
<p>
Cutterが重視しているのは「書きやすさ」と「デバッグのしやすさ」です。Cutterがこの2点を重視しているのは、テストを開発し続けるため・テストの価値を高いものに維持しつづけるためです。
</p>
<p>
	<img src="cutter-two-important-features.png" alt="Cutterが重視している書きやすさとデバッグのしやすさ" title="Cutterの2つの特長" class="figure">
</p>

<h2>書きやすさ</h2>

<p>
<img src="cutter-easy-to-write.png" alt="テストの書きやすさ" title="テストの書きやすさ" class="photo">
テストは一度書いてそれで終わりではありません。機能が変更されたらテストも変更しなければいけませんし、機能が追加されたらテストも追加しなければいけません。そのようにテストをメンテナンスしながら開発を進めることでテストの価値を高いものに維持しつづけることができます。Cutterはテストを書きやすくすることで、このような優れた開発習慣を維持しつづけることを支援します。
</p>

<h3>テスト定義は通常の関数定義</h3>

<p>
Cutterはテストを定義するために特別なマクロを使いません。通常通り関数を定義するだけです。また、面倒なテストを登録する処理を記述する必要もありません。定義されたテストは自動で検出されます。
</p>

<pre>
void
test_sum (void)
{
   ...
}
</pre>

<p>
C++言語の場合も同様に特別なマクロを使いません。C言語のときと同様、通常通り関数を定義するだけです。ただし、テストはnamespace内に定義します。
</p>

<pre>
namespace calc
{
    void
    test_sum (void)
    {
       ...
    }
}
</pre>

<p>
Cutterではnamespaceでテストをグループ化します。通常のC++言語を用いたソフトウェアもnamespaceを用いてモジュールやパッケージをグループ化します。つまり、通常の開発と同じようにテストを書けるということです。
</p>

<p>
CutterではC言語の場合でもC++言語の場合でも、通常のソフトウェア開発と同じようにテストが書けることを重視しています。これによりテストを書くための敷居が下がり、継続してテストを書くことができます。これが開発を継続するために重要なこと、つまり、きれいなコードを維持することにつながるのです。
</p>

<h3>メモリ管理機能</h3>

<p>C言語・C++言語でのメモリ管理は面倒なものです。</p>

<p>
Cutterのメモリ管理機能を使用すれば、テスト中で使用するメモリ管理をCutterに任せることができます。これにより、メモリ解放のタイミングに気をつかう必要がなくなり、テストの重要な部分に専念することができます。
</p>

<h3>データ駆動テスト</h3>

<p>
パラメータを変更して様々なパターンをテストしたいことが多くあります。Cutterはデータ駆動テストをサポートしているのでそのようなテストもすっきりと書くことができます。
</p>

<h3>多くの標準アサーション</h3>

<p>
適切なアサーションを使用することにより、アサーションが失敗したときにより多くの有用な情報を提供することができます。Cutterは標準で50以上のアサーションを提供しているため、新規にアサーションを定義しなくとも適切なアサーションを使用することができます。
</p>

<p>
C++言語にはポリモーフィズムなどオブジェクト指向プログラミングのための機能が含まれています。ポリモーフィズムは同じ名前の操作をオブジェクトに応じて切り替える機能です。C言語の場合は型に応じてアサーションを変える必要がありますが、C++言語を用いている場合は同じアサーション名を用いることができます。
</p>

<p>C言語:</p>
<pre>
void
test_add (void)
{
    /* int用アサーション */
    cut_assert_equal_int(3, 1 + 2);
    /* 文字列用アサーション */
    cut_assert_equal_string("abcdef", strcat("abc", "def"));
}
</pre>

<p>C++言語:</p>
<pre>
namespace adder
{
    void
    test_add (void)
    {
        /* intも文字列も同じアサーション名 */
        cppcut_assert_equal(3, 1 + 2);
        cppcut_assert_equal("abcdef", strcat("abc", "def"));
    }
}
</pre>

<p>
Cutterは言語に応じてより自然な方法で多くのアサーションを提供します。C言語用にはよく使われる型やオブジェクト専用のアサーションを組み込みで提供します。C++言語用にはポリモーフィズム・テンプレートを用いて多くのオブジェクトに対応したアサーションを提供します。
</p>

<h3>外部プロセス</h3>

<p>
Cutterは外部プロセスを簡単に管理することができます。コマンドのテストや複数プロセスを用いたテストも、外部プロセスの死活管理などに悩まされることなく、簡単に書くことができます。
</p>

<h3>マルチスレッド</h3>

<p>
Cutterはマルチスレッドでのテスト実行をサポートしています。マルチスレッド対応プログラムのテストも簡単に書くことができます。
</p>

<h3>マルチプロセス</h3>

<p>
Cutterはサブプロセスを生成し、複数のプロセスで同時にテストを実行することができます。マルチプロセス対応プログラムのテストも簡単に書くことができます。
</p>

<h2>デバッグ支援</h2>

<p>
<img src="cutter-easy-to-debug.png" alt="デバッグのしやすさ" title="デバッグのしやすさ" class="photo">
テストは常にパスし続けるわけではありません。機能が変更されたらテストは失敗するでしょうし、変更が意図しない箇所に影響を与えてしまった場合も失敗するでしょう。ユニットテストはそのような変化を教えてくれます。
</p>
<p>
しかし、開発者の作業は変化に気づいて終わりではありません。その変化が望まれた変化かどうかを判断し、それに応じた対応をしなければいけません。これは「デバッグ」と呼ばれる作業です。デバッグ作業は、問題の把握、原因の解明、問題の解決、の3ステップです。Cutterは「問題の把握」を強力に支援することにより、デバッグ作業を効率的なものにします。
</p>

<h3>少ない出力</h3>

<p>
問題を把握しやすくするためには不要な情報を提供しないことです。単純に情報を多く提供すると大事な情報が埋もれてしまって逆効果です。
</p>

<p>
Cutterは問題がないときはできるだけ情報を提供せず、大事な情報が埋もれてしまうことを防ぎます。
</p>

<h3>詳細な出力</h3>

<p>
問題があった場合は、問題発生時の状況がわかるための情報をできるだけ多く提供します。これにより、素早く問題を把握することを支援します。
</p>

<h3>詳細な出力 - バックトレース</h3>

<p>
問題が発生した箇所（ファイル名、行番号）を提供することはもちろんですが、必要であればバックトレース（どのような経路でその処理に到達したかの情報）も表示し、どうして問題が発生したかを把握しやすくします。
</p>

<h3>詳細な出力 - 差分表示</h3>

<p>
<a href="cutter-colorized-diff.png"><img src="cutter-colorized-diff-thumbnail.png" alt="日本語対応の色付きの差分表示機能" title="色付きdiff" class="photo"></a>
問題発生箇所と同じように期待値と実際の値がどのように違ったかの情報も非常に有用です。必要であればそれらの値を見やすい形式で表示します。テキストの差分表示はもちろん、画像の差分表示にも対応しているため、スクリーンショット画像の違いもわかりやすく表示することができます。
</p>

<h3>詳細な出力 - オブジェクト表示</h3>

<p>
C言語でも多くのプログラムがオブジェクトを利用しています。問題発生時にオブジェクトの状態を表示することにより、問題の把握を支援することができます。C言語ではオブジェクトを構造体のポインタとして扱いますが、Cutterは単にポインタのアドレスを表示するのではなく、持っているデータなどオブジェクトの中身を表示することができます。
</p>

<h2>ライセンス</h2>

<p>
Cutterはフリーソフトウェアです。あなたは、 Free Software Foundationが公表したGNU Lesser General Public License 3またはそれ以降のバージョンが定める条項に従って本プログラムを再頒布または変更することができます。
</p>

<p>
Cutterは有用とは思いますが、頒布にあたっては、市場性及び特定目的適合性についての暗黙の保証を含めて、いかなる保証も行ないません。詳細については GNU Lesser General Public License 3をお読みください。
</p>

<h2>有償サポート・技術支援</h2>

<p>
クリアコードではCutterの有償サポート・テスト開発・導入支援・教育を行っています。詳細についてはinfo@clear-code.comまでお問い合わせください。
</p>

<ul>
	<li><a href="../contact/">お問い合わせ</a></li>
</ul>

<h2>プロジェクトサイト</h2>

<p>
CutterはSourceForge上で開発が行われています。インストール方法・リファレンスマニュアル・ダウンロードなどの情報はSourceForge上のCutterプロジェクトサイトを参照してください。
</p>

<ul>
	<li><a href="http://cutter.sourceforge.net/index.html.ja" title="Cutterプロジェクトサイト">Cutterプロジェクトサイトへ</a></li>
</ul>
