---
layout: default
main_title: 迷惑メール対策システムの構築を簡単・低コストにする『milter manager』をリリース
sub_title: フリーソフトウェアで迷惑メール対策
type: press
---

<div class="press-release-signature">
  <p class="date">2009年4月16日</p>
  <p class="company">株式会社クリアコード</p>
</div>

<p>
株式会社クリアコード（本社：東京都文京区、代表取締役：須藤 功平）は、迷惑メール対策システムの構築を簡単・低コストにするmilter managerを開発し、本日「milter manager 1.0.0」をリリースしました。
</p>

<p>
現在、milterと呼ばれる迷惑メール対策が多く開発されており、フリーソフトウェアとして公開されているものも数多くあります。様々な特徴をもったmilterを組み合わせて、効果的に適用することで、有用な迷惑メール対策システムとなります。
</p>

<p>
しかし、効果的にmilterを適用する仕組みが提供されていないという問題と、複数のmilterを組み合わせると設定や管理コストが増大するという問題があります。
</p>

<p>
milter managerはmilterを効果的に適用し、さらにmilterの管理コストを低減することで、有用で運用しやすい迷惑メール対策システムの構築を支援するフリーソフトウェアです。
</p>

<h2>milter managerの6つの特徴</h2>

<h3>柔軟なmilter適用</h3>
<p>
milter managerは特定の条件に該当したメールに対してのみmilterを適用することができます。
</p>
<p>
またmilterを適用する条件は内蔵しているRubyインタプリタで判断するため、組織ごとのポリシーを柔軟に反映したより柔軟な迷惑メール対策が可能となります。
</p>

<h3>自動化されたmilter管理</h3>
<p>
milter managerはシステムにインストールされているmilterを自動検出するため、手動でmilterを登録する必要はありません。
</p>
<p>
また、登録されているmilterを必要なときに自動的に起動することができるため、複数のmilterを利用する際に面倒なmilterの死活管理の手間を低減します。
</p>

<h3>Webベースの設定UI</h3>
<p>
各milterの適用条件をWebブラウザから簡単に設定できます。
</p>

<h3>ログの視覚化</h3>
<p>
迷惑メールは次々に新たな手法でやってきます。効果的に迷惑メール対策を行うためには、その傾向を分析し、新たな対応策を検討することが重要です。
</p>
<p>
milter managerは、管理下のmilterの適用状況や適用結果をグラフ化する機能を持っており、データが活用しやすくなっています。
</p>

<h3>Sendmail、Postfixに対応</h3>
<p>
milter managerはSendmail、Postfixに対応しているため、多くの環境で利用できます。
</p>

<h3>フリーソフトウェア</h3>
<p>
milter managerはSourceForge上で開発し、フリーソフトウェアとして公開しています。
</p>
<ul>
  <li><a href="http://milter-manager.sourceforge.net/index.html.ja">milter managerプロジェクトページ</a></li>
  <li><a href="https://lists.sourceforge.net/lists/listinfo/milter-manager-users-ja">milter manager利用者向けメーリングリスト</a></li>
</ul>

<h2>開発体制について</h2>
<p>
株式会社クリアコードは<a href="http://www.ipa.go.jp/software/open/ossc/2008/theme/koubo1.html">独立行政法人情報処理推進機構（IPA）平成20年度オープンソフトウェア利用促進事業</a>「迷惑メール対策ポリシーを柔軟に実現するためのmilterの開発」の一環として「milter manager」を開発しました。現在は、フリーソフトウェアとして、いわゆるバザールモデルで開発・メンテナンスを継続しています。
</p>

<h2>株式会社クリアコードについて</h2>
<p>
株式会社クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。
</p>
<p>
milter managerを含むフリーソフトウェアの開発、カスタマイズ、導入支援、テスト開発による品質改善、フリーソフトウェアに関するソースコードレベルのサポートを提供しています。
</p>
<ul>
  <li><a href="../services/milter-manager.html">milter managerサービスメニューへ</a></li>
  <li><a href="../services/ruby.html">Ruby関連開発メニューへ</a></li>
</ul>

<p>
また有限責任中間法人Mozilla Japanのサポートパートナーとして、Mozilla製品の導入支援、サポート、開発を行います。
</p>
<ul>
  <li><a href="../services/mozilla/menu.html">Mozillaサポートメニューへ</a></li>
</ul>

<h2>本件に関するお問合せ先</h2>
<p>株式会社クリアコード</p>
<dl class="press-release-contact">
    <dt>担当</dt>
    <dd>南</dd>

    <dt>TEL</dt>
    <dd>03-6231-7270</dd>

    <dt>E-mail</dt>
    <dd>minami@clear-code.com</dd>

    <dt>URL</dt>
    <dd><a href="https://www.clear-code.com/">https://www.clear-code.com/</a></dd>

    <dt>提供サービス</dt>
    <dd><a href="../services/milter-manager.html">milter managerサービスメニューへ</a></dd>
</dl>

