---
layout: default
main_title: Mozilla Firefox / Thunderbirdアドオン配信サービスを開始
sub_title:
type: press
---

<p class='press-release-subtitle-small'>
組織向けに独自の設定をいれたアドオンを自動更新

<div class="press-release-signature">
  <p class="date">2020年10月9日</p>
  <p>株式会社クリアコード</p>
</div>

<p>
株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤 功平）は、Mozilla Firefox ならびにMozilla Thunderbird用アドオンに企業独自の設定を反映し、配信するサービスを開始します。
</p>

<h2 id='about-service'>Firefox / Thunderbirdアドオン配信サービスとは</h2>

<p>
企業においてFirefoxやThunderbirdを採用する理由のひとつとしてカスタマイズ性が挙げられます。FirefoxやThunderbirdの標準実装されている不要な機能を使わせない、他のシステムやサービスとの連携をスムーズに実現したいといった導入企業独自の要求に合わせたカスタマイズの一部は、FirefoxやThunderbird向けに提供されている様々なアドオンによって実現されています。これらアドオンを企業が導入した際の運用コストを削減するFirefox / Thunderbirdアドオン配信サービスです。
</p>

<p>
<em>組織独自の設定を組み込んで配布。ユーザでの追加設定なしに利用可能。</em><br>
⇒設定変更もアドオンのバージョンアップとして配信すれば、手間なく全社展開
</p>

<p>
<em>バージョンアップ版アドオンの配信スケジュールをコントロール。</em><br>
⇒アドオンのバージョンアップ情報はお客様専用サイトから配信するため、お客様の任意のタイミングでバージョンアップ版を全社に適用。
</p>

<p>
アドオン配信の仕組みはThunderbird Add-ons , Firefox Add-onsと同様で、Firefox / Thunderbird本体の機能を利用します。バージョンアップ情報の参照先をお客様専用サイトに変更するだけで現行利用環境に影響は与えません。
</p>

<h2 id='addons'>対象となるアドオン</h2>

<h3>Flex Confirm Mail</h3>

<p>
Flex Confirm Mailはメール誤送信防止のためのThunderbird用のアドオンです。メール送信時に、メールアドレス、メールの件名、本文、添付ファイルの確認を促す機能を提供しています。様々な企業様でのメール誤送信防止のアイデアが詰め込まれています。
</p>

<h3>IE View WE</h3>

<p>
IE View WEはIEとFirefoxの使い分けのためのFirefox用のアドオンです。Firefoxから特定のURLを開こうとした場合に、事前に定義されたURLリストに基づき、Internet Explorerを起動します。弊社製品のBrowserSelectorとの併用により、IEからFirefoxを起動することもできますので、ユーザーに意識させることなくIEとFirefoxの併用が可能です。
</p>

<p>
またThunderbird78よりアドオンのWebExtentions API対応が必要となり、多数のアドオンがThunderbird78未対応となっています。クリアコードではお客様からご依頼いただいたこれらアドオンについてThunderbird78対応を進めています。対応が完了したアドオンは本サービスの対象として順次追加して参ります。
</p>

<h2 id='price'>サービス価格</h2>

<p>
配信対象アドオンとユーザー数の組み合わせにより都度御見積にて対応します。
</p>

<p>
たとえば1アドオン、100ユーザまで対応の場合、年20万円となります。
</p>

<p>
本サービスには、対象アドオンの不具合調査やバージョンアップ版の提供などサポートサービスも含まれます。
</p>

<h2 id='company'>クリアコードについて</h2>

<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。
</p>

<p>
クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。
</p>

<p>
クリアコードでは創業以来Mozilla Firefox / Thunderbirdの導入支援やサポートを行っており、これまでに100社以上のお客様にご利用いただいております。
</p>

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
TEL：03-5927-9440<br>
メール：info@clear-code.com
</p>

<h2 id='links'>参考URL</h2>

<ul>
  <li><em>【コーポレートサイト】</em>
      <a href='/'>https://www.clear-code.com/</a></li>
  <li><em>【本プレスリリース】</em>
      <a href='/press-releases/20201009-addon-hosting.html'>https://www.clear-code.com/press-releases/20201009-addon-hosting.html</a></li>
  <li><em>【Flex Confirm Mail】</em>
      <a href='https://addons.thunderbird.net/ja/thunderbird/addon/flex-confirm-mail/'>https://addons.thunderbird.net/ja/thunderbird/addon/flex-confirm-mail/</a></li>
  <li><em>【IE View WE】</em>
      <a href='https://addons.mozilla.org/ja/firefox/addon/ie-view-we/'>https://addons.mozilla.org/ja/firefox/addon/ie-view-we/</a></li>
  <li><em>【関連サービス】</em>
    <ul>
      <li><em>【Firefox/Thunderbirdサポート】</em>
          <a href='/services/mozilla/menu.html'>https://www.clear-code.com/services/mozilla/menu.html</a></li>
      <li><em>【BrowserSelector】</em>
          <a href='/services/browserselector.html'>https://www.clear-code.com/services/browserselector.html</a></li>
      <li><em>【ブラウザカスタマイズ】</em>
          <a href='/services/browser-customize.html'>https://www.clear-code.com/services/browser-customize.html</a></li>
    </ul>
  </li>
</ul>
