---
layout: default
---

<div class='grid-x grid-margin-x callout'>
{%- for section in site.data.downloads %}
  {% for item in section.items %}
    {% if item.link == page.url %}
   <div class='cell medium-4'>
     <img class='thumbnail' src="{{ item.link | relative_url | replace: '.html', '.png' }}">
     <h4>{{item.title}}</h4>
     <p>{{item.content}}
   </div>
    {% endif %}
  {% endfor %}
{%- endfor %}
  <div class='cell auto'>
    <script type="text/javascript"
            src="//ma.clear-code.com/form/generate.js?id={{ page.mautic_download_form_id }}">
    </script>
  </div>
</div>

<p>
個人情報の取り扱いについては<a href="/privacy-policy/">プライバシーポリシー</a>をご確認ください。同意の上ダウンロードしてください。
</p>
